<header class="header">
    <div class="header__container">
        <div class="header__container__section-1">
            <div class="header__container__section-1__left">
                <div class="header__container__section-1__left__logo">
                    <a routerLink="home">
                        <img class="header__container__section-1__left__logo__img"
                            src="assets/imgs/cabezafria/cabezafrialogo.png" alt="CabezaFria-logo">
                    </a>
                </div>
                <div class="header__container__section-1__left__name">
                    <div class="header__container__section-1__left__name__title">
                        <h1 class="header__container__section-1__left__name__title__h1">CABEZAFRÍA</h1>
                    </div>
                    <div class="header__container__section-1__left__name__slogan">
                        <h2 class="header__container__section-1__left__name__slogan__h2">¡Metele un poco de estilo a tu
                            Día a Día!</h2>
                    </div>
                </div>
            </div>
            <!-- Burger menu -->
            <div class="header__container__section-1__right__burger">
                <nav class="header__container__section-1__right__burger__nav">
                    <ul class="pushNav pushNav__mod js-topPushNav" #topNav>
                        <li class="closeLevel js-closeLevelTop hdg" #closeLevelTop>
                            <i class="fa fa-close"></i> Close
                        </li>
                        <li>
                            <a routerLink="home">
                                <i class="fa fa-home"></i> Home
                            </a>
                        </li>

                        <li>
                            <div class="openLevel js-openLevel" #openLevel>
                                Nuestras gorras
                                <i class="fa fa-chevron-right"></i>
                            </div>
                            <ul class="pushNav pushNav_level js-pushNavLevel" #navLevel>
                                <li class="closeLevel js-closeLevel hdg" #closeLevel>
                                    <i class="fa fa-chevron-left"></i> Atrás
                                </li>
                                <li>
                                    <div class="openLevel js-openLevel" #openLevel>
                                        Gorras Deportivas
                                        <i class="fa fa-chevron-right"></i>
                                    </div>
                                    <ul class="pushNav pushNav_level js-pushNavLevel" #navLevel>
                                        <li class="closeLevel js-closeLevel hdg" #closeLevel>
                                            <i class="fa fa-chevron-left"></i> Atrás
                                        </li>
                                        <li><a (click)="filtrarPorMarca('NewEra')">NewEra</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="openLevel js-openLevel" #openLevel>
                                        Gorras de Lujo
                                        <i class="fa fa-chevron-right"></i>
                                    </div>
                                    <ul class="pushNav pushNav_level js-pushNavLevel" #navLevel>
                                        <li class="closeLevel js-closeLevel hdg" #closeLevel>
                                            <i class="fa fa-chevron-left"></i> Atrás
                                        </li>
                                        <li><a (click)="filtrarPorMarca('Burberry')">Gorras Burberry</a></li>
                                        <li><a (click)="filtrarPorMarca('Amiri')">Gorras Amiri</a></li>
                                        <li><a (click)="filtrarPorMarca('Monastery')">Gorras Monastery</a></li>
                                        <li><a (click)="filtrarPorMarca('Coach')">Gorras Coach</a></li>
                                        <li><a (click)="filtrarPorMarca('Louis Vuitton')">Gorras Louis Vuitton</a></li>
                                        <li><a (click)="filtrarPorMarca('Gucci')">Gorras Gucci</a></li>
                                        <li><a (click)="filtrarPorMarca('Gooring Bros')">Gorras Gooring Bros</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <div class="openLevel js-openLevel" #openLevel>
                                Tus pedidos
                                <i class="fa fa-chevron-right"></i>
                            </div>
                            <ul class="pushNav pushNav_level js-pushNavLevel" #navLevel>
                                <li class="closeLevel js-closeLevel hdg" #closeLevel>
                                    <i class="fa fa-chevron-left"></i> Atrás
                                </li>
                                <li><a href="#">Pedidos en curso</a></li>
                                <li><a href="#">Pedidos Finalizados</a></li>
                            </ul>
                        </li>

                        <hr />
                        <li><a href="#">Productos nuevos</a></li>
                        <li><a routerLink="shoppingcart">Ir al carrito de compras</a></li>
                        @if ( isLoggedIn ){<li class="logout-level">
                            <div routerLink="user/profile" class="logout-level__user-container">
                                <img class="logout-level__user-container__img" src="assets/imgs/cabezafria/user.png"
                                    alt="user">
                                <div class="logout-level__user-container__info-user">
                                    <h3 class="logout-level__user-container__info-user__user-name">{{userData.userName}}
                                    </h3>
                                    <h4 class="logout-level__user-container__info-user__user-role">{{userData.userRole}}
                                    </h4>
                                </div>
                            </div>
                            <div (click)="onLogout()" class="logout-level__btn">
                                <img class="logout-level__btn__img" src="assets/imgs/logout.png" alt="logout">
                            </div>
                        </li>
                        }
                        @if ( !isLoggedIn ){<li class="logout-level">
                            <div class="logout-level__user-container">
                                <img class="logout-level__user-container__img" src="assets/imgs/cabezafria/user.png"
                                    alt="user">
                                <div class="logout-level__user-container__info-user">
                                    <h3 class="logout-level__user-container__info-user__user-name">Anónimo
                                    </h3>
                                    <h4 class="logout-level__user-container__info-user__user-role">Cliente
                                    </h4>
                                </div>
                            </div>
                            <div class="login-register__level">
                                <div class="login-register__level__login">
                                    <img routerLink="login" class="login-register__level__login__img login-register__level__login-register__imgs" src="assets/imgs/cabezafria/icon-login.png" alt="login-user">
                                </div>
                                <div class="login-register__level__register">
                                    <img routerLink="register" class="login-register__level__register__img login-register__level__login-register__imgs" src="assets/imgs/cabezafria/icon-register.png" alt="register-user">
                                </div>
                            </div>
                        </li>
                        }
                    </ul>
                </nav>

                <!-- El icono para abrir el menú -->
                <i class="fa-solid fa-bars header__container__section-1__right__burger__icon"
                    (click)="openPushNav()"></i>
            </div>
            <div class="header__container__section-1__right">
                <div
                    class="header__container__section-1__right__shopping-bag header__container__section-1__right__items">
                    <a routerLink="shoppingcart"
                        class="header__container__section-1__right__shopping-bag__btn header__container__section-1__right__shopping-bag__user__btns">
                        <img class="header__container__section-1__right__shopping-bag__btn__img header__container__section-1__right__shopping-bag__user__btns__imgs"
                            src="assets/imgs/cabezafria/shopping-bag.png" alt="shopping-bag">
                    </a>
                </div>
                @if ( isLoggedIn ){<div
                    class="header__container__section-1__right__user header__container__section-1__right__items">
                    <a routerLink="user/profile"
                        class="header__container__section-1__right__user__btn header__container__section-1__right__shopping-bag__user__btns">
                        <img class="header__container__section-1__right__user__btn__img header__container__section-1__right__shopping-bag__user__btns__imgs"
                            src="assets/imgs/cabezafria/user.png" alt="user">
                    </a>
                </div>
                <div class="header__container__section-1__right__user__name-user">
                    <h3 class="header__container__section-1__right__user__name-user__name">{{userData.userName}}</h3>
                    <h4 class="header__container__section-1__right__user__name-user__role">{{userData.userRole}}</h4>
                </div>
                }
                @if (!isLoggedIn) {
                <div class="header__container__section-1__right__login header__container__section-1__right__items">
                    <button
                        class="header__container__section-1__right__login__btn header__container__section-1__right__sign-in__logout__register__btns">
                        <a routerLink="login"
                            class="header__container__section-1__right__login__btn__text header__container__section-1__right__sign-in__logout__register__btns__texts">
                            LOGIN</a>
                    </button>
                </div>
                }

                @if ( isLoggedIn ) {
                <div>
                    <button (click)="onLogout()"
                        class="header__container__section-1__right__logout__btn header__container__section-1__right__sign-in__logout__register__btns header__container__section-1__right__logout__btn__text header__container__section-1__right__sign-in__logout__register__btns__texts">LOGOUT
                    </button>
                </div>
                }
                @if (!isLoggedIn) {
                <div class="header__container__section-1__right__register header__container__section-1__right__items">
                    <button
                        class="header__container__section-1__right__register__btn header__container__section-1__right__sign-in__logout__register__btns">
                        <a routerLink="register"
                            class="header__container__section-1__right__register__btn__text header__container__section-1__right__sign-in__logout__register__btns__texts">
                            REGISTER</a>
                    </button>
                </div>
                }
            </div>
        </div>
        <div class="header__container__section-2">
            <div #cajita id="header__container__section-2__marks-bar" class="header__container__section-2__marks-bar">
                <div class="header__container__section-2__marks-bar__content">
                    @for (brand of brands; track brand.name; let i = $index) {
                    <div
                        class="header__container__section-2__marks-bar__content__item-{{ i + 1 }} header__container__section-2__marks-bar__content__items">
                        <div class="header__container__section-2__marks-bar__content__items__names">
                            <h3 class="header__container__section-2__marks-bar__content__items__names__titles">
                                {{ brand.name }}
                            </h3>
                        </div>
                        <div
                            class="{{ i === 5 ? 'header__container__section-2__marks-bar__content__item-6__logo' : 'header__container__section-2__marks-bar__content__item-' + (i + 1) + '__logo' }}">
                            <img class="header__container__section-2__marks-bar__content__item-{{ i + 1 }}__logo__img header__container__section-2__marks-bar__content__items__logos__imgs"
                                [src]="brand.logo" [alt]="brand.alt" />
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</header>