<header class="header">
    <div class="header__container">
        <div class="header__container__section-1">
            <div class="header__container__section-1__left">
                <div class="header__container__section-1__left__logo">
                    <a routerLink="home">
                        <img class="header__container__section-1__left__logo__img"
                            src="assets/imgs/cabezafria/cabezafrialogo.png" alt="CabezaFria-logo">
                    </a>
                </div>
                <div class="header__container__section-1__left__name">
                    <div class="header__container__section-1__left__name__title">
                        <h1 class="header__container__section-1__left__name__title__h1">CABEZAFRÍA</h1>
                    </div>
                    <div class="header__container__section-1__left__name__slogan">
                        <h2 class="header__container__section-1__left__name__slogan__h2">¡Metele un poco de estilo a tu
                            Día a Día!</h2>
                    </div>
                </div>
            </div>
            <div class="header__container__section-1__right__burger">
                <i class="fa-solid fa-bars header__container__section-1__right__burger__icon"></i>
            </div>
            <div class="header__container__section-1__right">
                <div
                    class=" header__container__section-1__right__shopping-bag header__container__section-1__right__items">
                    <a routerLink="dashboard/products/new"
                        class="header__container__section-1__right__shopping-bag__btn header__container__section-1__right__shopping-bag__user__btns">
                        <img class="header__container__section-1__right__shopping-bag__user__btns__imgs"
                            src="assets/imgs/cabezafria/shopping-bag.png" alt="shopping-bag">
                    </a>
                </div>
                <div class="header__container__section-1__right__user header__container__section-1__right__items">
                    <button
                        class="header__container__section-1__right__user__btn header__container__section-1__right__shopping-bag__user__btns">
                        <img class="header__container__section-1__right__shopping-bag__user__btns__imgs"
                            src="assets/imgs/cabezafria/user.png" alt="user">
                    </button>
                </div>
                @if (!isLoggedIn) {
                <div class="header__container__section-1__right__login header__container__section-1__right__items">
                    <button
                        class="header__container__section-1__right__login__btn header__container__section-1__right__sign-in__register__btns">
                        <a routerLink="login"
                            class="header__container__section-1__right__login__btn__text header__container__section-1__right__sign-in__register__btns__texts">
                            LOGIN</a>
                    </button>
                </div>
                }

                @if ( isLoggedIn ) {
                <div>
                    <button (click)="onLogout()"
                        class="header__container__section-1__right__logout__btn header__container__section-1__right__sign-in__register__btns header__container__section-1__right__logout__btn__text header__container__section-1__right__sign-in__register__btns__texts">
                        LOGOUT
                    </button>
                </div>
                }
                @if (!isLoggedIn) {
                <div class="header__container__section-1__right__register header__container__section-1__right__items">
                    <button
                        class="header__container__section-1__right__register__btn header__container__section-1__right__sign-in__register__btns">
                        <a routerLink="dashboard/users/new"
                            class="header__container__section-1__right__register__btn__text header__container__section-1__right__sign-in__register__btns__texts">
                            REGISTER</a>
                    </button>
                </div>
                }
            </div>
        </div>
        <div class="header__container__section-2">
            <div #cajita id="header__container__section-2__marks-bar" class="header__container__section-2__marks-bar">
                <div class="header__container__section-2__marks-bar__content">
                    @for (brand of brands; track brand.name; let i = $index) {
                    <div
                        class="header__container__section-2__marks-bar__content__item-{{ i + 1 }} header__container__section-2__marks-bar__content__items">
                        <div class="header__container__section-2__marks-bar__content__items__names">
                            <h3 class="header__container__section-2__marks-bar__content__items__names__titles">
                                {{ brand.name }}
                            </h3>
                        </div>

                        <div
                            class="{{ i === 5 ? 'header__container__section-2__marks-bar__content__item-6__logo' : 'header__container__section-2__marks-bar__content__item-' + (i + 1) + '__logo' }}">
                            <img class="header__container__section-2__marks-bar__content__item-{{ i + 1 }}__logo__img header__container__section-2__marks-bar__content__items__logos__imgs"
                                [src]="brand.logo" [alt]="brand.alt" />
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</header>