<!-- <pre>{{ products | json }}</pre> -->

<section id="section" class="section">
    <section class="section__category section-products products">
            <div class="container__card ">
                    @for (product of products; track product._id) {
                    <div class="product-card">
                        <img [src]="product?.productUrlImage" [alt]="product?.productName">
                        <h3>{{ product?.productName }}</h3>
                        <p>Precio: ${{ product.productPrice }}</p>
                        <p>{{ product.productDescription }}</p>
                        <div class="button__product">
                            <button class="products-main-container_cardproductbuycontainer_btn" (click)="addToCart( product )">
            Agregar al carrito
          </button>
                            <button (click)="toggleFavorite(product)">
                                {{ favIds.has(product._id) ? '❌' : '✅' }}
                            </button>
                        </div>

                    </div>
                    } @empty {
                    <p class="no-products">No hay productos disponibles en este momento.</p>
                    }
            </div>

                <!-- <h3>Favoritos</h3>
                @for (fav of listFavs; track fav._id) {
                <div class="fav-item">{{ fav.productName }}</div>
                } @empty {
                <p>No tienes productos favoritos aún.</p>
                } -->
    </section>
</section>