<body>
  <footer class="footer">
    <div class="footer__container">
      <div class="footer-section center-section">
        <div class="footer-section center-section top-section">
          <img
            src="assets/resources/logo-footer.png"
            alt="Logo Cabezafría"
            class="logo"
          />
          <div>
            <h2 class="footer-title footer-title-center">CABEZAFRÍA</h2>
            <p class="subtitle subtitle-center">2025</p>
          </div>
        </div>

        <p class="copyright">
          © 2025 cabezafría, Copyright 2025. Todos los derechos reservados. El
          nombre del producto, los logotipos y las pegatinas de la visera son
          marcas comerciales de Cabezafría, todas las demás marcas son marcas
          comerciales de sus propietarios. Nada en este sitio puede ser copiado
          sin permiso por escrito.
        </p>
      </div>
      <div class="footer-section footer-section-right">
        <h2 class="footer-title footer-title-left">About Us</h2>
        <p class="subtitle">Contactanos</p>
        <p class="email">correomail.com</p>
        <div class="social-icons">
          <img src="assets/resources/instagram.png" alt="Instagram" />
          <img src="assets/resources/facebook.png" alt="Facebook" />
        </div>
      </div>
      <div class="footer__container__left">
        <h2 class="footer__container__left__title">PQRS</h2>
        <p class="subtitle">Enviar</p>
        <p class="small-text">¿Tienes alguna pregunta o inquietud?</p>
        <div class="footer-links">
          <ul div class="footer-links-list">
            <input
              type="radio"
              id="commentType1"
              name="pqrs"
              value="peticiones"
            />
            <label for="commentType1">Peticiones</label>
            <input type="radio" id="commentType2" name="pqrs" value="quejas" />
            <label for="commentType2">Quejas</label>
            <input
              type="radio"
              id="commentType3"
              name="pqrs"
              value="reclamos"
            />
            <label for="commentType3">Reclamos</label>
            <input
              type="radio"
              id="commentType4"
              name="pqrs"
              value="sugerencias"
            />
            <label for="commentType4">Sugerencias</label>
          </ul>
          <input type="text" name="comments" id="comment" />
        </div>
        <button class="contact-btn">Contáctenos</button>
      </div>
    </div>
  </footer>
</body>
