/* Container */
.checkout-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #000;
  font-weight: 300;
  filter: drop-shadow(-8px 10px 12px #000);
}

/* Cart Section */
.cart-section {
  background-color: #ede8dc;
  padding: 20px;
  border-radius: .8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 2;
}

.cart-common-title {
  font-family: "Anton";
  font-weight: 400;
  font-style: normal;
}
.cart-title {
  color: var(--bleu-de-france);
  font-size: 2.4rem;
  margin: 1rem 0 2rem 0;
}

.free-shipping-message {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.free-shipping-text {
  color: #6a7377;
  font-weight: bold;
  font-size: 1.4rem;
}

.join-now-link {
  color: #333;
  text-decoration: underline;
}

.cart-items {
  display: grid;
  gap: 20px;
}

/* Item */
.cart-item {
  border: 1px solid black;
  border-radius: 0.7rem;
  padding: 1.5rem;
  background: var(--AliceBlue);
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.product-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-name {
  font-size: 1.6rem;
  margin: 0.6rem 0;
  font-weight: 600;
  color: var(--bleu-de-france);
  height: 2rem;
  overflow: hidden;
}

.product-category,
.product-color,
.product-size {
  color: black;
  font-size: 1.2rem;
  font-style: oblique;
  font-weight: 400;
}

.product-price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-price__value {
  color: var(--bleu-de-france);
  margin: 0 0 1rem 0;
  font-size: 1.6rem;
}

.product-unit-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.6rem;
  background: #b5b4aa;
}
.product-unit-price__value {
  color: var(--bleu-de-france);
  font-size: 1.8rem;
}

/* Quantity */
.quantity-control {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.quantity-box {
  display: flex;
  width: 3.2rem;
  height: 3.2rem;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: 2px solid var(--bleu-de-france);
  border-radius: 0.5rem;
}

.quantity-button {
  background: var(--bleu-de-france);
  color: #000;
}

.quantity-input {
  color: var(--bleu-de-france);
  text-align: center;
}

/* Actions */
.action-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn-primary {
  padding: 0.5rem 1rem;
  background-color: #163e56;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Inter";
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}
.btn-primary:hover {
  background-color: #0f1724;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.move-to-favorites,
.remove-item {
  color: var(--bleu-de-france);
  text-decoration: none;
}

/* Aside / Summary */
.aside {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex: 1;
}

.summary-section {
  background-color: #ede8dc;
  color: black;
  padding: 20px;
  border: 1px solid black;
  border-radius: 0.7rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.section-title {
  font-size: 1.8rem;
  color: var(--bleu-de-france);
  margin: 1.5rem 0 1rem 0;
}

.contact-section {
  margin-top: .5rem;
  border: 1px solid black;
  border-radius: 0.7rem;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ede8dc;
}

.contact-title {
  font-size: 1.6rem;
  color: var(--bleu-de-france);
}

.contact-section hr {
  background: var(--bleu-de-france);
  border: 1px solid var(--bleu-de-france);
}

.summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.total-row {
  font-weight: 600;
  margin: 2rem 0;
  font-size: 2rem;
}

.checkout-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout-button {
  padding: 0.75rem 2rem;
  background-color: #163e56;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Inter";
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}
.checkout-button:hover {
  background-color: #0f1724;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.paypal-button {
  background-color: #fff;
  color: #0070ba;
  border: 1px solid #0070ba;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: bolder;
}

/* Forms */
.form-group,
.name-fields {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  gap: 1rem;
}

.name-fields > * {
  flex: 1;
}

input,
textarea,
select {
  background: var(--white);
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--AliceBlue);
  padding: 0.6rem 1rem;
  box-sizing: border-box;
}

.checkbox-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: .8rem;
}

input[type="checkbox"] {
  width: 1.6rem;
}

/* ==================== Responsive ==================== */
@media (min-width: 768px) {
  .cart-item {
    flex-direction: row;
    align-items: flex-start;
  }

  .product-image {
    width: 150px;
    height: 150px;
  }

  .product-details {
    width: 40%;
  }

  .form-group,
  .name-fields {
    flex-direction: row;
  }
}

@media (min-width: 1075px) {
  .checkout-container {
    flex-direction: row;
    align-items: flex-start;
  }
}
