
.form-container__new-category {
    max-width: 500px;
    margin: 40px auto;
    background-color: #ede8dc;
    padding: 20px;
    border-radius: 8px;
    color: #0f1724;
}


.form-header h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0f1724;
}


.form-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 3rem;
    padding: 2rem;
}


.field {
    display: flex;
    flex-direction: column;
}


.field label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #0f1724;
}


.field input[type="text"],
.field textarea {
    padding: 8px;
    border: 1px solid #163e56;
    border-radius: 4px;
    background-color: #fff;
    color: #0f1724;
}

.field textarea {
    resize: vertical;
    min-height: 80px;
}

.field-state {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.field-state input[type="radio"] {
    accent-color: #163e56;
}


.field-submit button {
    padding: 15px;
    background-color: #163e56;
    color: #ede8dc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.field-submit button:hover {
    background-color: #0f1724;
}