.product-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.product-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    max-width: 60%;
    margin: auto;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #163e56;
    font-weight: 250;
}

.product-card.img {
    width: 60%;
    border-radius: 12px;
    object-fit: cover;
}

.product-card__info {
    margin-top: 1rem;
}

.price {
    font-weight: bold;
    color: #2c7a7b;
}

.product-card__favorite-btn {
    display: flex;
    gap: .5rem;
    border-radius:  100% ;
    background: transparent;
    border-color: transparent;
}
.product-card__favorite-btn:hover {
    background: #ede8ed;
}

.product-card__favorite-btn__fav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.product-card__favorite-btn__fav-container__img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;

}

.product-card__reviews {
    margin-top: 2rem;
}
