<h2>Productos disponibles</h2>
<div class="container ">
    @for (product of products; track product.id) {
        <div class="product-card">
            <h3>{{ product.name }}</h3>
            <p>Precio: ${{ product.price }}</p>
            <p>{{ product.description }}</p>

            <button (click)="toggleFavorite(product)">
                {{ favIds.has(product.id) ? '❌ Quitar de Favoritos' : '⭐ Agregar a Favoritos' }}
            </button>
        </div>
    } @empty {
        <p class="no-products">No hay productos disponibles en este momento.</p>
    }
</div>


<h3>Favoritos</h3>
@for (fav of listFavs; track fav.id) {
    <div class="fav-item">{{ fav.name }}</div>
} @empty {
    <p>No tienes productos favoritos aún.</p>
}

