/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 100;
    box-sizing: border-box;
    font-family: "Inter";
    font-style: normal;
    background: url(https://static.pexels.com/photos/379600/pexels-photo-379600.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
app-new-form {
    display: flex;
    justify-content: center;
}

}


