<div class="container__product-register">
    <div class="form form-product">
        <form [formGroup]="formData" (submit)="onSubmit()" class="form form-login">
            <div class="form-content">

                <div class="form__container__product-title">
                    <h1>Register Product</h1>
                </div>

                <div class="form__product">

                    <div class="field field-name">
                        <label for="product-name">Name</label>
                        <input type="text" formControlName="productName" placeholder="Ej: Manzana" id="product-name" />
                    </div>
                    <div class="field">
                        <label for="product-description">Description</label>
                        <textarea formControlName="productDescription" id="product-description"></textarea>
                    </div>
                    <div class="field">
                        <label for="product-brand">Brand</label>
                        <textarea formControlName="productBrand" id="product-brand"></textarea>
                    </div>
                    <div class="field">
                        <label for="product-price">Price</label>
                        <input type="number" formControlName="productPrice" placeholder="Ej: 20" id="product-price" />
                    </div>
                    <div class="field field-size-type">
                        <label class="field-size-type__title" for="product-size">Size</label>
                        
                        <div class="field-size-type__options field-state-radio">
                            <input type="radio" formControlName="productType" value="ajustable-cap"
                                id="product-adjustable" (input)="setValueSize(false)" />
                            <label for="product-adjustable">Ajustable</label>
                        </div>
                        <div class="field-size-type__options field-state-radio">
                            <input type="radio" formControlName="productType" value="closed-cap"
                                id="product-no-adjustable" (input)="setValueSize(true)" />
                            <label for="product-no-adjustable">De Talla</label>
                        </div>
                        @if ( showSize ) {
                        <div>
                            <select formControlName="productSize" id="product-size">
                                <option value="">Escoge la talla de tu gorra</option>
                                @for (measurement of sizeMeasurement; track $index) {
                                <option [value]="measurement">{{measurement}}</option>
                                }
                            </select>
                        </div>
                        }
                    </div>
                    <div class="field">
                        <label for="product-color">Color</label>
                        <input type="text" formControlName="productColor" placeholder="Ej: Azul, Rojo"
                            id="product-color" />
                    </div>
                    <div class="field">
                        <label for="product-stock">Stock</label>
                        <input type="number" formControlName="productStock" placeholder="Ej: 20" id="product-stock" />
                    </div>
                    <div class="field">
                        <label for="product-urlimage">Image</label>
                        <input type="text" formControlName="productUrlImage" placeholder="http://... "
                            id="product-urlimage" />
                    </div>
                    <div class="field">
                        <label for="product-category">Category</label>
                        <select formControlName="productCategory" id="product-category">
                            <option value="">Selected..</option>

                            @for (objCategory of categories; track $index) {
                            <option [value]="objCategory._id">{{objCategory.categoryName}}</option>
                            }
                        </select>
                    </div>
                    <div class="field field-state">

                        <label class="field field-state__label__title">State</label>

                        <div class="field-state-radio">
                            <input type="radio" formControlName="productState" [value]="true"
                                id="product-state-available" />
                            <label for="product-state-available">Available</label>
                        </div>

                        <div class="field-state-radio">
                            <input type="radio" formControlName="productState" [value]="false"
                                id="product-state-notavailable" />
                            <label for="product-state-notavailable">Not Available</label>
                        </div>

                    </div>
                    <div class="field field-submit">
                        <button type="submit">Register product</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>